#kronos-logo {
    height: 60px;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.input-group {
    width: auto!important;
}

#city-name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

#temperature-text {
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
}


#temp-card-image {
    width: 120px;
}

#temp-card-spinner-container {
    height: 335px;
    display: none;
}

#sun-card-spinner-container, #sun-card-spinner-container, #wind-card-spinner-container {
    height: 206px;
}


.spinner-grow {
    height: 40px;
}

.suntime-image {
    height: 100px;
}

.cards {
    text-align: center;
    background-color: rgba(78, 6, 213, 0.2);
    padding: 10px;
    margin: 15px;
    border-radius: 25px;
}

